<?xml version="1.0"?>
<configuration>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>

	<appSettings>
		<!--add key="bSingleDB" value="true"/-->
		<add key="sEulaPath" value="EULA.txt" />
		<add key="sLogPath" value="%PUBLIC%\" />
		<add key="iLogDays" value="30" />
		<add key="iTcpPort" value="46555" />
		<add key="bEncrypt" value="true" />
		<add key="iSvcWait" value="300" />
		<add key="sSvc7984" value="Jeron790BridgeService" />
		<add key="bRunIisRst" value="true" />

		<add key="iSqlWait" value="30" />
		<add key="iSqlTout" value="300" />
		<add key="sSqlVerMin" value="10.0.1600" />
		<add key="bSqlFullRM" value="true" />
		<!--add key="sUrlMsdn" value="http://msdn.microsoft.com/en-us/library/ms189275.aspx"/-->
		<add key="sUrlMsdn" value="https://learn.microsoft.com/en-us/sql/relational-databases/backup-restore/recovery-models-sql-server" />
		<add key="sUrlOlas" value="https://ola.hallengren.com/" />
		<add key="sUrlDefs" value="https://sqlbak.com/academy/ert-rto-rpo/" />

		<add key="sSqlFolder" value="sql\" />
		<add key="sSqlCreate" value="_create.sql" />
		<add key="sSqlSecure" value="_secure.sql" />
		<add key="sSqlSchema" value="_schema.sql" />
		<add key="sSqlConfig" value="_config.sql" />
		<add key="sSqlShrink" value="_shrink.sql" />
		<add key="sSqlBackup" value="_backup.sql" />
		<add key="sSqlRemove" value="_remove.sql" />

		<add key="sSqlHost" value="(local)" />
		<add key="bSqlAuth" value="true" />
		<add key="sSqlUser" value="sa" />
		<add key="sSqlPass" value="" />

		<add key="sRdrLogin" value="e_client" />
		<add key="sRdrPword" value="password" />
		<add key="sWriLogin" value="e_logger" />
		<add key="sWriPword" value="password" />

		<add key="" value="" />
	</appSettings>

</configuration>